@using System.Web.Mvc.Ajax
@using System.Web.Mvc.Html
@using Geta.Bring.Sample
@model BringRatesSampleBlockView

@{
    var ajaxOptions = new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "result", InsertionMode = InsertionMode.Replace };
}

<div id="result">
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <link href="~/Content/BringRatesSample/shipping.css" type="text/css" rel="stylesheet" />

    <section class="shipping">
        <header>Levering</header>

        @if (Model.State == BringRatesSampleBlockView.ViewState.SearchForm)
        {
            <fieldset>
                @using (Ajax.BeginForm("Post", "BringRatesSample", ajaxOptions))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(false)

                    <h2>Input til fraktguiden</h2>

                    <div class="shipping-panel">
                        <div class="shipping-input-group">
                            @Html.LabelFor(x => x.CountryFrom)
                            @Html.DropDownListFor(x => x.CountryFrom, Model.CountriesFromList)
                        </div>
                        <div class="shipping-input-group">
                            @Html.LabelFor(x => x.PostalCodeFrom)
                            @Html.TextBoxFor(x => x.PostalCodeFrom)
                        </div>
                        <div class="shipping-input-group">
                            @Html.LabelFor(x => x.CountryTo)
                            @Html.DropDownListFor(x => x.CountryTo, Model.CountriesToList)
                        </div>
                        <div class="shipping-input-group">
                            @Html.LabelFor(x => x.PostalCodeTo)
                            @Html.TextBoxFor(x => x.PostalCodeTo)
                        </div>
                        <div class="shipping-input-group">
                            @Html.LabelFor(x => x.ShippingDateAndTime)
                            @Html.TextBoxFor(x => x.ShippingDateAndTime)
                        </div>
                    </div>

                    <h2>Pakkestørrelse</h2>
                    <div class="shipping-form-description">Minst en parameter (vekt, dimensjoner eller volum) er nødvendig.</div>

                    <div class="shipping-panel">
                        <fieldset>
                            <div class="shipping-input-group">
                                @Html.LabelFor(x => x.Weight)
                                @Html.TextBoxFor(x => x.Weight)
                            </div>

                            <fieldset>
                                <div class="shipping-input-group">
                                    @Html.LabelFor(x => x.Length)
                                    @Html.TextBoxFor(x => x.Length)
                                </div>
                                <div class="shipping-input-group">
                                    @Html.LabelFor(x => x.Width)
                                    @Html.TextBoxFor(x => x.Width)
                                </div>
                                <div class="shipping-input-group">
                                    @Html.LabelFor(x => x.Height)
                                    @Html.TextBoxFor(x => x.Height)
                                </div>
                            </fieldset>

                            <div class="shipping-input-group">
                                @Html.LabelFor(x => x.Volume)
                                @Html.TextBoxFor(x => x.Volume)
                            </div>
                        </fieldset>

                        <div class="shipping-input-group">
                            <div class="shipping-tick-right">
                                @Html.CheckBoxFor(x => x.Edi)
                                @Html.LabelFor(x => x.Edi)
                            </div>
                        </div>
                        <div class="shipping-input-group">
                            <div class="shipping-tick-right">
                                @Html.CheckBoxFor(x => x.ShippedFromPostOffice)
                                @Html.LabelFor(x => x.ShippedFromPostOffice)
                            </div>
                        </div>
                    </div>

                    <h2>@Html.DisplayNameFor(x => x.Products)</h2>

                    <div class="shipping-panel">
                        <ul class="shipping-option-list">
                            @foreach (var product in Model.ProductList)
                            {
                                <li>
                                    <input type="checkbox"
                                           name="@Html.IdFor(x => x.Products)"
                                           value="@product.Value"
                                           id="@product.Value" />
                                    <label for="@product.Value">@product.Text</label>
                                </li>
                            }
                        </ul>
                    </div>

                    <h2>@Html.DisplayNameFor(x => x.AdditionalServices)</h2>
                    <div class="shipping-panel">
                        <ul class="shipping-option-list">
                            @foreach (var additionalService in Model.AdditionalServiceList)
                            {
                                <li>
                                    <input type="checkbox"
                                           name="@Html.IdFor(x => x.AdditionalServices)"
                                           value="@additionalService.Value"
                                           id="@additionalService.Value" />
                                    <label for="@additionalService.Value">@additionalService.Text</label>
                                </li>
                            }
                        </ul>
                    </div>

                    <input type="submit" value="Vis" />
                }
            </fieldset>
        }

        @if (Model.State == BringRatesSampleBlockView.ViewState.Results)
        {
            foreach (var shippingGroup in Model.EstimateGroups)
            {
                <fieldset>

                    <!-- Column headings -->
                    <header>
                        <h3>
                            <img src="~/Content/BringRatesSample/posten-logo.jpg" alt="Posten logo">
                            <span>@shippingGroup.MainCategory</span>
                        </h3>
                        <div class="shipping-price" aria-hidden="true">Pris</div>
                        <div class="shipping-arrival" aria-hidden="true">Ankomst</div>
                    </header>

                    <!-- For each group of options, display a <div> with a subheading (if any) -->
                    <div class="shipping-group">

                        <!-- Sub heading, e.g. "Under 2 kilo" -->
                        <h4></h4>

                        <ul>
                            @foreach (var estimate in shippingGroup.Estimates)
                            {
                                <li>
                                    <div class="shipping-option">
                                        <div class="shipping-tick">
                                            <input id="shipping_@estimate.Product.Code" value="@estimate.Product.Code" group="ShippingMethod" type="radio" name="shipping_@estimate.Product.Code">
                                            <label for="shipping_@estimate.Product.Code">@estimate.GuiInformation.DisplayName</label>
                                        </div>
                                    </div>
                                    <div class="shipping-price">
                                        <span>Pris:</span>
                                        @estimate.PackagePrice.PackagePriceWithAdditionalServices.AmountWithVAT.ToString("0.00") @estimate.PackagePrice.CurrencyIdentificationCode
                                    </div>
                                    <div class="shipping-arrival">
                                        <span>Ankomst:</span>
                                        @estimate.ExpectedDelivery.ExpectedDeliveryDate
                                    </div>
                                    <div class="shipping-note">
                                        @estimate.GuiInformation.Tip
                                    </div>
                                    <div class="shipping-info">
                                        <p>
                                            @estimate.GuiInformation.DescriptionText
                                        </p>
                                        <button type="button" data-shipping-info-extended-toggle>Mer informasjon</button>
                                        <div class="shipping-info-extended" data-shipping-info-extended>
                                            <p>
                                                @estimate.GuiInformation.HelpText
                                            </p>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </fieldset>
            }
            <footer>Alle priser er med merverdiavgift.</footer>
            @Ajax.ActionLink("Søk på nytt", "Index", "BringRatesSample", ajaxOptions)
        }
    </section>
</div>